.miboton {
    display: inline-block;
    /* Asegura que el elemento se comporte como un botón */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de la fuente */
    color: white;
    /* Color del texto */
    background-color: #007bff;
    /* Color de fondo */
    border: none;
    /* Quitar el borde por defecto */
    border-radius: 5px;
    /* Bordes redondeados */
    text-decoration: none;
    /* Quitar subrayado del enlace */
    text-align: center;
    /* Alinear el texto al centro */
    cursor: pointer;
    /* Cambiar el cursor a una mano para indicar que es clicable */
    transition: background-color 0.3s ease;
    /* Transición suave para los efectos de hover */
}

.miboton:hover {
    background-color: #0056b3;
    /* Cambiar color de fondo al pasar el cursor */
}

.miboton:active {
    background-color: #004494;
    /* Cambiar color de fondo cuando está activo */
    transform: translateY(1px);
    /* Simular un efecto de pulsación */
}

.miboton:focus {
    outline: none;
    /* Quitar el contorno por defecto */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    /* Añadir un resplandor alrededor para accesibilidad */
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}

.custom-table-header {
    background-color: #4CAF50;
    color: white;
}

.custom-table-heading {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.custom-table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table-row:hover {
    background-color: #ddd;
}

.custom-table-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.custom-table-action {
    text-align: center;
}

.custom-ver-link,
.custom-delete-link,
.custom-edit-link {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.custom-ver-link {
    background-color: #28c84b;
}

.custom-delete-link {
    background-color: #f44336;
    /* Red */
}

.custom-edit-link {
    background-color: #008CBA;
    /* Blue */
}

.custom-delete-link:hover {
    background-color: #d32f2f;
}

.custom-edit-link:hover {
    background-color: #007bb5;
}

.detail-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.detail-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.detail-label {
    font-weight: bold;
    color: #666;
}

.detail-value {
    color: #333;
}

.detail-actions {
    text-align: center;
    margin-top: 20px;
}

.custom-edit-link,
.custom-delete-link,
.custom-back-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.custom-edit-link {
    background-color: #007bff;
    color: #fff;
}

.custom-delete-link {
    background-color: #dc3545;
    color: #fff;
}

.custom-back-link {
    background-color: #6c757d;
    color: #fff;
}

.view-display-id-home_horizontal_4_x_1 .view-content {
    display: flex;
    justify-content: space-between;
}

.view-display-id-home_horizontal_4_x_1 .view-content .views-row {
    flex: 1;
    margin: 0 5px;
}

.view-display-id-home_vertical_1_x_3 .view-content .views-row img {
    border-radius: 100px;
}

.block-views-blockhomepage-slick-carousel-block-homepage-slick-carousel .view-content .slick-slide {
    min-height: 400px;
}
